{% extends 'include/base.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
<script src="{% static 'common/scripts.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>


<section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white">

                                <h5><b>BEST IN TOWN</b></h5>
                                <h1 class="mt-30 mb-15">Pizza & Pasta</h1>
                                <h5><a href="#oue" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h5>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text pos-relative">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static 'images/heading_logo.png' %}" alt="">
                        <h2>Our Story</h2>
                </div>

                <div class="row">
                        <div class="col-md-6">
                                <p class="mb-30">Maecenas fermentum tortor id fringilla molestie. In hac habitasse
                                        platea dictumst. Morbi maximus
                                        lobortis ipsum, ut blandit augue ullamcorper vitae.
                                        Nulla dignissim leo felis, eget cursus elit aliquet ut. Curabitur vel convallis
                                        massa. Morbi tellus
                                        tortor, luctus et lacinia non, tincidunt in lacus.
                                        Vivamus sed ligula imperdiet, feugiat magna vitae, blandit ex. Vestibulum id
                                        dapibus dolor, ac
                                        cursus nulla. </p>
                        </div><!-- col-md-6 -->

                        <div class="col-md-6">
                                <p class="mb-30">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea
                                        dictumst.Morbi maximus lobortis ipsum, ut blandit augue ullamcorper vitae.
                                        Nulla dignissim leo felis, eget cursus elit aliquet ut. Curabitur vel
                                        convallismassa. Morbi tellus tortor, luctus et lacinia non, tincidunt in lacus.
                                        Vivamus sed ligula imperdiet, feugiat magna vitae, blandit ex. Vestibulumidda
                                        pibus dolor, accursus nulla. </p>
                        </div><!-- col-md-6 -->
                </div><!-- row -->
        </div><!-- container -->
</section>

<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static 'images/heading_logo.png'%}" alt="">
                        <h2>Best Sellers</h2>
                </div>
                <div class="secondsection">
                <div class="secondcontainer">
                <div class="secondgrid">
                        {% for pizza in pizza_list %}
                        <article class="secondcard">
                        <img class="secondcard__image" src="{{ pizza.photo.url }}" />
                                <div class="secondcard__data">
                                <div class="secondcard__info">
                                <h2 class="titlecard">{{ pizza.name }}</h2>
                                <p>Descripcion de la comida, con ingredientes Descripcion de la comida, con ingredientes</p>
                                </div>
                                <h3 class="secondcard__price">${{ pizza.price }}</h3>
                                <button data-product="{{pizza.id}}" data-action="add" class="secondcard__add update-cart">+</button>
                                </div>
                        </article>
                        {% endfor %}
                </div>
                </div>
                </div>
        <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
                </div><!-- container -->
</section>

<section>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static 'images/heading_logo.png' %}" alt="">
                        <h2 id="oue">Our Menu</h2>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <ul class="selecton brdr-b-primary mb-70">
                                        <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
                                        {% for category in category_list%}
                                        <li><a href="#" data-select="{{ category.name }}"><b>{{ category.name }}</b></a></li>
                                        {% endfor %}
                                </ul>
                        </div><!--col-sm-12-->
                </div><!--row-->

                <div class="row">
                        {% for menu in menu_list %}
                        <div class="col-md-6 food-menu {{ menu.category }}">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="{{ menu.image.url }}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>{{ menu.name }}</b><b class="color-primary float-right">${{ menu.price }}</b></h5>
                                                <p class="pr-70">{{ menu.descriptions}}</p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                        {% endfor %}
                </div>

                <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#oue" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
        </div><!-- container -->
</section>
{% include 'include/footer.html' %}
{% endblock content %}
